/* Mobile First */
/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --logo: #fb5607;
    --linha: #004aad;
    --strong: #03045e;
    --icons: #fb5607;
    --icons-lista: #fb5607;
    --button-color: #fb5607; 
    --icon-titulo-secao: #ffffff;
    --icon-titulo-secao-bgc: #03045e; 
    /* --bgc-icons:  ; */
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;

    border: 1px dashed blue;
}

.logo {
    color: var(--logo);
}

strong {
    color: var(--strong);
}

section {
    padding-block: 2rem;
}

.titulos_da_secao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.titulos_da_secao i {
    padding: 0.6rem;
    font-size: 1.5rem;
    color: var(--icon-titulo-secao);
    background-color: var(--icon-titulo-secao-bgc);
    border-radius: 0.5rem;
}

.titulos_da_secao h2 {
    text-align: center;
    line-height: 2.1rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.9rem;
}

button {
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--button-color);
    display: block;
    margin: 0 auto;
}

button a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-block: 2rem;
}

ul li {
    font-size: 1.2rem;
}

ul li i {
    margin-right: 0.5rem;
    color: var(--icons-lista);
}



/* Cabeçalho */
header {
    padding-block: 1rem;
}

.header {
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 7px;
    display: block;
    height: 1px;
    width: 70%;
    background-color: var(--linha);
}

/* Introdução */
#introducao {
    padding-block: 0;
}

.introducao {
    background-image: url("images/home_office_backgroud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 1rem;
}

.conteudo_a_esquerda {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.introducao p {
    font-size: 1rem;
}

.introducao button {
    margin-top: 2rem;
}

/* Seção 01 - Palavras da Agilidade */
.chamada_atencao {
    background-image: url("images/transicao_de_carreira_02_30.png");    
    background-repeat: no-repeat;
    background-size: cover;
}

.chamada_texto {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


